.navbar {
  width: 80px;
  height: 100vh;
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
}

.navbarMain {
  flex: 1;
  margin-top: var(--mantine-spacing-xl);
}

.link {
  width: 50px;
  height: 50px;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  justify-content: center;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-5));
  }

  &[data-active] {
    background-color: var(--mantine-color-blue-light);
    color: var(--mantine-color-blue-filled);

    &:hover {
      background-color: var(--mantine-color-blue-light-hover);
    }
  }
}
