# Terraform Infrastructure Deployment Pipeline
# Deploys Azure resources for CTN Demo ASR

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - infrastructure/*

pool:
  vmImage: 'ubuntu-latest'

variables:
  - group: ctn-demo-variables
  - name: workingDirectory
    value: '$(System.DefaultWorkingDirectory)/infrastructure'

stages:
  - stage: Validate
    displayName: 'Validate Terraform'
    jobs:
      - job: ValidateTerraform
        displayName: 'Terraform Validate'
        steps:
          - task: TerraformInstaller@1
            displayName: 'Install Terraform'
            inputs:
              terraformVersion: '1.6.3'
          
          - task: TerraformTaskV4@4
            displayName: 'Terraform Init'
            inputs:
              provider: 'azurerm'
              command: 'init'
              workingDirectory: '$(workingDirectory)'
              backendServiceArm: 'azure-ctn-demo'
              backendAzureRmResourceGroupName: '$(TF_STATE_RESOURCE_GROUP)'
              backendAzureRmStorageAccountName: '$(TF_STATE_STORAGE_ACCOUNT)'
              backendAzureRmContainerName: '$(TF_STATE_CONTAINER)'
              backendAzureRmKey: 'ctn-demo-asr.tfstate'
          
          - task: TerraformTaskV4@4
            displayName: 'Terraform Validate'
            inputs:
              provider: 'azurerm'
              command: 'validate'
              workingDirectory: '$(workingDirectory)'
          
          - task: TerraformTaskV4@4
            displayName: 'Terraform Format Check'
            inputs:
              provider: 'azurerm'
              command: 'custom'
              workingDirectory: '$(workingDirectory)'
              customCommand: 'fmt'
              commandOptions: '-check -recursive'
            continueOnError: true
          
          - task: TerraformTaskV4@4
            displayName: 'Terraform Plan'
            inputs:
              provider: 'azurerm'
              command: 'plan'
              workingDirectory: '$(workingDirectory)'
              environmentServiceNameAzureRM: 'azure-ctn-demo'
              commandOptions: '-out=tfplan'
          
          - task: ArchiveFiles@2
            displayName: 'Archive Terraform Plan'
            inputs:
              rootFolderOrFile: '$(workingDirectory)'
              includeRootFolder: false
              archiveType: 'tar'
              tarCompression: 'gz'
              archiveFile: '$(Build.ArtifactStagingDirectory)/terraform-plan.tar.gz'
          
          - task: PublishPipelineArtifact@1
            displayName: 'Publish Plan Artifact'
            inputs:
              targetPath: '$(Build.ArtifactStagingDirectory)/terraform-plan.tar.gz'
              artifact: 'terraform-plan'
              publishLocation: 'pipeline'

  - stage: Deploy
    displayName: 'Deploy Infrastructure'
    dependsOn: Validate
    condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/main'))
    jobs:
      - deployment: DeployInfrastructure
        displayName: 'Deploy to Azure'
        environment: 'ctn-demo-asr-dev'
        strategy:
          runOnce:
            deploy:
              steps:
                - task: DownloadPipelineArtifact@2
                  displayName: 'Download Plan Artifact'
                  inputs:
                    artifactName: 'terraform-plan'
                    targetPath: '$(Pipeline.Workspace)'
                
                - task: ExtractFiles@1
                  displayName: 'Extract Terraform Plan'
                  inputs:
                    archiveFilePatterns: '$(Pipeline.Workspace)/terraform-plan.tar.gz'
                    destinationFolder: '$(System.DefaultWorkingDirectory)/infrastructure'
                
                - task: TerraformInstaller@1
                  displayName: 'Install Terraform'
                  inputs:
                    terraformVersion: '1.6.3'
                
                - task: TerraformTaskV4@4
                  displayName: 'Terraform Init'
                  inputs:
                    provider: 'azurerm'
                    command: 'init'
                    workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure'
                    backendServiceArm: 'azure-ctn-demo'
                    backendAzureRmResourceGroupName: '$(TF_STATE_RESOURCE_GROUP)'
                    backendAzureRmStorageAccountName: '$(TF_STATE_STORAGE_ACCOUNT)'
                    backendAzureRmContainerName: '$(TF_STATE_CONTAINER)'
                    backendAzureRmKey: 'ctn-demo-asr.tfstate'
                
                - task: TerraformTaskV4@4
                  displayName: 'Terraform Apply'
                  inputs:
                    provider: 'azurerm'
                    command: 'apply'
                    workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure'
                    environmentServiceNameAzureRM: 'azure-ctn-demo'
                    commandOptions: 'tfplan'
                
                - task: TerraformTaskV4@4
                  displayName: 'Terraform Output'
                  inputs:
                    provider: 'azurerm'
                    command: 'output'
                    workingDirectory: '$(System.DefaultWorkingDirectory)/infrastructure'
                    environmentServiceNameAzureRM: 'azure-ctn-demo'
