<h2>Aanvraag Succesvol Geregistreerd</h2>

<p>Geachte {{companyName}},</p>

<p>Uw aanvraag om lid te worden van het CTN Associatieregister is succesvol geregistreerd.</p>

<div class="info-box">
  <strong>Aanvraaggegevens:</strong><br>
  Bedrijfsnaam: {{companyName}}<br>
  KvK-nummer: {{kvkNumber}}<br>
  Aanvraagdatum: {{applicationDate}}
</div>

<p>Ons team zal uw aanvraag binnen 2-3 werkdagen beoordelen. U ontvangt een e-mailmelding zodra uw aanvraag is verwerkt.</p>

<p>Als u vragen heeft, neem dan contact met ons op via <a href="mailto:support@ctn.nl">support@ctn.nl</a>.</p>

<p>Met vriendelijke groet,<br>
<strong>Het CTN Team</strong></p>
